// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&family=Roboto&family=Source+Sans+3:wght@300;400&display=swap'); 

#user-show-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #181818;
}

#user-show-info-container{
  margin-top: 70px;
  margin-left: 88px;
  display: flex;
  flex-direction: column;
  // width: 100%;
  font-family: Roboto, Arial, sans-serif;
  background-color: #181818;
}

#user-show-info{
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0px 61px 4px 0px; 

}

#user-show-initial-username{
  display: flex;
  align-items: center;
  text-align: center;
}

.user-show-initials{
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  align-items: center;
  vertical-align:middle;
  text-decoration: none;
}

.user-show-initials p{
  align-items: center;
  vertical-align:middle;
  font-size: 34px;
}

.user-show-username{
  color: white;
  font-size: 24px;
  margin-left: 20px;
}

#user-show-tabs{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #AAAAAA;
  text-align: center;
  margin-top: 10px;
}


#user-show-tabs p:hover{
  color: white;
  // border-bottom: 2px solid #aaa;
}

#user-show-tabs p{
  cursor: pointer;
}

#user-show-video-container{
  display: flex;
  border: 1px solid white;

}

// vidoe stuff

// #user-show-video-container{
//   display: grid;
//   grid-template-rows: repeat(auto-fill, 240px);
//   justify-content: center;
//   grid-gap: 35px;
//   font-family: 'Roboto';
//   margin-top: 30px;
//   margin-left: 70px;
//   // width: 100%;
// }

// .user-video-thumbnail{
//   width: 40%;
// }

.dumb{
  width: 100%;
  border: 1px solid white;
}

.user-video-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: center;
  grid-gap: 35px;
  font-family: 'Roboto';
  margin-top: 30px;
  margin-left: 70px;
}

.user-video-thumbnail video{
  width: 240px;
  height: 130px;
  object-fit: cover;
}

.user-video-info-container{
  display: flex;
  width: 240px;
  flex-direction: column;
  justify-content: flex-start;
}

.user-video-title{
  font-size: 16px;
  line-height: 2rem;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-weight: 500;
  margin: 3px 0px;
}

.user-video-title h2{
  display: inline;
}

.user-video-user{
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  margin-top: 5px;
  /* line-height: 4rem; */
}

.user-video-viewdates{
  display: flex;
  font-size: 12px;
  line-height: 1.6rem;
  font-weight: 400;
  color: #AAAAAA;
}

.user-video-date{
  padding-left: 0px;
  margin-left: 8px;
}


.user-video-views::after{
  color: #AAAAAA;
  content: " \2219 ";
  margin-left: 4px;
  font-weight: 900;
}

.user-show-about-container{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  width: 100%;

}

.user-show-right-column{
  width: 30%;
  margin-top: 20px;
}

.user-show-right-column p{
  padding: 12px 0px;
  margin: 6px 0px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  font-family: Roboto, Arial, sans-serif;

}

.user-show-stats{
  font-weight: 500;
}

.user-show-created{
  font-size: 14px;
}

.hide{
  display: none;
}

#user-show-tabs > div > p{
  padding: 5px 8px;
}

#user-show-tabs > div{
  transition: background-color 0.45s;
}

.active-div{
  padding: 10px 0px;
  background-color: rgba(170, 170, 170,0.3);
  border-radius: 5px;
}

.active{
  color: white;
}

.disliked > div > p, .liked > div > p, .home > div > p{
  color: white;
  margin-top: 80px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
}

.user-show-upload-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 35px;
  margin-bottom: 100px;
  margin-left: 60px;
}

#youtube-upload-logo{
  width: 180px;
  height: 180px;
}

.user-show-upload-header{
  color: white;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 24px;
  line-height: 2.8rem;
  font-weight: 400;
}

.user-show-upload-text-container{
  margin-bottom: 24px;
  padding: 0 24px;
  width: 40%;
}

.user-show-upload-text{
  font-family: "Roboto","Arial",sans-serif;
  font-size: 14px;
  line-height: 1.6rem;
  font-weight: 400;
  color: #AAAAAA;
  text-align: center;
}

.user-upload-video-button{
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #2196f3;
  color: black;
  font-weight: 650;
  padding: 10px 16px;
  border-radius: 3px;
  font-family: "Roboto","Arial",sans-serif;

}

.user-upload-video-button.disabled-button{
  background-color: transparent;
  color: #AAAAAA;
}
