// Place all the styles related to the api::videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&family=Roboto&family=Source+Sans+3:wght@300;400&display=swap');


#main-video-index-container{
  display: grid;
  grid-template-columns: repeat(4,270px);
  grid-gap: 16px;
  font-family: 'Roboto';
  margin-top: 100px;
  margin-left: 105px;
}

#video-index-blacktext{
  background-color: black;
  margin: 0 8px;
  height: 240px;
  width: 270px;
}

.video-index-thumbnail video{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.video-index-thumbnail:hover video{
  transform: scale(1.01);
  box-shadow: 0px 0px 4px rgba(12,1,1,0.632);
}

.video-index-container{
  height: 240px;
  width: 270px;
  margin: 0 10px;
  // font-family: Roboto, Arial, sans-serif;

}

.video-index-info-container{
  display: flex;
  margin: 5px 8px 1px 1px;
  // font-family: Roboto, Arial, sans-serif;
}

.video-index-image{
  display: flex;
  justify-content: center;
  margin-right: 10px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: red;
  color: white;
  align-items: center;
  vertical-align:middle;
  text-decoration: none;
}

.video-index-image p{
  align-items: center;
  vertical-align:middle;
}

.video-index-info{
  display: flex;
  flex-direction: column;
}

.video-index-title{
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: normal;
  color: white;
}

.video-index-user{
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-index-viewdates{
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 400;
  color: #AAAAAA;
}

.video-index-viewdates p{
  margin-right: 4px;
}

.video-index-views::after{
  color: #AAAAAA;
  content: " \2219 ";
  margin: 0 4px;
  font-weight: 900;
}

.video-index-viewdates span{
  font-size: 30px;
  margin: 0px 6px;
  align-items: center;
  vertical-align: middle;
}

#video-show-container{
  color: white;
  display: flex;
  margin: 0px 20px;
  font-family: 'Roboto';
}

#video-show-video{
  width: 99.5%;
  height: 500px;
  // margin: 5px 5px;
}

#video-show-info{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 2%;
  width: 60%;
}

#video-show-top-info-container h1{
  font-size: 24px;
}

#video-show-top-info-container{
  line-height: 10px;
  border-bottom: 1px solid #AAAAAA;
}

.video-show-format-container{
  display: flex;
  color: #AAAAAA;
  justify-content: space-between;
  width: 100%;
}

#video-show-views-create{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin: 10px;
  margin-left: 0px;
  padding-left: 0px;
  color: #AAAAAA;
  font-size: 13px;
  width: 38%;
}

.video-show-views::after{
  color: #AAAAAA;
  content: " \2219 ";
  margin: 0 6px;
  font-weight: 900;
}

#video-show-likes-dislikes{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 60%;
}

#video-show-likes-dislikes p{
  padding: 5px;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 14px;
}

.fa-thumbs-up, .fa-thumbs-down{
  font-size: 20px;
  margin-right: 10px;
  color: #AAAAAA;
  cursor: pointer;
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover{
  color: rgba(170,170,170,0.9);
  transform: scale(1.08);
}

#video-show-likes-dislikes p{
  margin-right: 30px;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
}

#video-show-suggested-container{
  width: 40%;
  margin-left: 0px;
  // margin-right: 50px;
}

#video-show-suggested-container > h1{
  margin: 25px;
  font-size: 24px;
  text-align: center;
}

#video-show-image-username{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  margin-left: 0px;
  border-bottom: 1px solid #AAAAAA;
  margin-right: 0px;
  text-align: center;
}

#video-show-image-username div{ 
  display: flex;
  align-items: baseline;
  flex-direction: column;
}


.video-show-image{
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 0px;
  margin-top: 5px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: red;
  color: white;
  align-items: center;
  vertical-align:middle;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.video-show-image p{
  align-items: center;
  font-size: 22px;
  vertical-align:middle;
}

#video-show-image-username h2{
  margin: 10px 0px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

#video-show-image-username h3{
  margin: 10px 0px;
  color: #AAAAAA;
  font-size: 13px;
}
