@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&family=Roboto&family=Source+Sans+3:wght@300;400&display=swap');

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  text-align: center;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#video-form-main-container{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33,33,33,0.98);
  width: 875px;
  height: 575px;
  border-radius: 5px;
  font-family: Roboto, Arial, sans-serif;
}


#video-form-title-container{
  border: 0.5px solid #AAAAAA;
  width: 80%;
  height: 7.5%;
  margin: 15px;
  margin-bottom: 5px;
  padding: 5px 10px 1px 5px;
  border-radius: 3px;
}

#video-form-title-container:hover{
  border: 0.5px solid white;
}

#video-form-main-container h2{
  margin-top: 20px;
  font-size: 20px;
}

.video-form-title{
  text-align: left;
  font-size: 14px;
  color: #AAAAAA;
  margin-left: 5px;
  margin-bottom: 5px;
}

.video-form-title-textarea{
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: white;
  transition: border 500ms;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}

#video-form-title-container.blue-border{
  border: 0.5px solid rgb(99, 99, 248);
}

#video-form-title-container.blue-border:hover{
  border: 0.5px solid rgb(99, 99, 248);
}

.video-form-title.blue-text{
  color: rgb(99, 99, 248);
}


#video-form-description-container{
  border: 0.5px solid #AAAAAA;
  width: 80%;
  height: 7.5%;
  margin: 15px;
  padding: 5px 10px 1px 5px;
  border-radius: 3px;
  margin-bottom: 15px;

}

#video-form-description-container.blue-border{
  border: 0.5px solid rgb(99, 99, 248);
}

#video-form-description-container.blue-border:hover{
  border: 0.5px solid rgb(99, 99, 248);
}

#video-form-description-container:hover{
  border: 0.5px solid white;

}

.video-form-description{
  text-align: left;
  font-size: 14px;
  color: #AAAAAA;
  margin-left: 5px;
  margin-bottom: 5px;
}

.video-form-description-textarea{
  height: 20px;
  width: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: white;
  transition: border 500ms;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}

.video-form-description.blue-text{
  color: rgb(99, 99, 248);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#video-form-file-container{
  display: flex;
  width: 82%;
  height: 44%;
  vertical-align: middle;
  justify-content: space-between;
}

#video-form-upload-container{
  width: 25%;
}

#video-preview-container{
  width: 70%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  height: 100%;
  background-color: rgba(33,33,33,0.98);
}

.video-preview{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.text-preview{
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #AAAAAA;
}


#video-form-buttons-container{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.video-form-image-label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
  height: 125px;
  border: 0.5px solid #AAAAAA;
  color: #AAAAAA;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}


.video-form-video-label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
  height: 125px;
  border: 0.5px solid #AAAAAA;
  color: #AAAAAA;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
}

.video-form-image-label:hover, .video-form-video-label:hover{
  color: white;
  border: 0.5px solid white;
}

.fa-film, .fa-image{
  padding: 5px;
}

.video-form-cancel, .video-form-submit{
  text-decoration: none;
  border: none;
  width: 100px;
  height: 25px;
  background-color: rgba(33,33,33,0.98);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.video-form-cancel{
  color: #AAAAAA;
}

.video-form-submit{
  color: #3ea6ff;
  margin-left: 50px;
}

.video-errors{
  text-align: center;
  color: red;
  margin-top: 20px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
}