#top-navbar-container{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 14px;
  background-color: #202020;
  border-bottom: 2px solid #4d4949;
  z-index: 2;
}

#top-navbar-icons{
  display: flex;
  align-items: center;
  font-size: 32px;
  /* width: 10%; */
}

.fa-bars.nav-logos{
  cursor: pointer;
  margin-left: 4px;
  color: white;
}

.fa-react.nav-logos{
  position: fixed;
  cursor: pointer;
  /* font-size: 16px; */
  width: 85px;
  height: 85px;
  /* top: -0.7%;
  left: 7.7%; */
  left: 80px;
  top: -2px;
}

#top-navbar-searchbar{
  display: flex;
  width: 48%;
  margin: auto;
}

.searchbar {
  width: 90%;
  font-size: 16px;
  padding: 6px;
  background-color: hsl(0, 0%, 7%);
  border: 0.5px solid #141414;
  color: white;
}

.searchbar:focus {
  outline: 0.2px solid rgb(75, 75, 197);
}

#top-navbar-searchbar button{
  /* background-color: #323232; */
  background-color: hsla(0, 0%, 100%, 0.08);
  cursor: pointer;
  border: 0.5px solid black;
}

#top-navbar-searchbar button:hover{
  /* background-color: hsla(0, 0%, 100%, 0.08); */
  background-color: rgba(255,255,255,0.2);
}


.fa-search{
  color: rgba(255,255,255,0.6);
  font-size: 18px;
  padding: 8px;
}


.navbar-link-container{
  margin-right: 45px;
  text-decoration: none;
}

.navbar-button{
  background-color: red;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  padding: 10px;
}

.navbar-button:hover{
  background-color: rgba(255,0,0,0.95);

}

.navbar-link{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

@media only screen and (max-width: 750px) {
  .fa-react.nav-logos{
    position: fixed;
    cursor: pointer;
    /* font-size: 16px; */
    left: 11%;
    top: 0.5%;
    width: 10%;
    height: 14%;
  }
}